In [24]:
import numpy as np
import pandas as pd

In [25]:
data = pd.read_csv("stock_price.csv")
data

,Date,Open,High,Low,Close,Adj Close,Volume
0,29-06-2010,19.000000,25.000000,17.540001,23.889999,23.889999,18766300
1,30-06-2010,25.790001,30.420000,23.299999,23.830000,23.830000,17187100
2,01-07-2010,25.000000,25.920000,20.270000,21.959999,21.959999,8218800
3,02-07-2010,23.000000,23.100000,18.709999,19.200001,19.200001,5139800
4,06-07-2010,20.000000,20.000000,15.830000,16.110001,16.110001,6866900
...,...,...,...,...,...,...,...
2411,28-01-2020,568.489990,576.809998,558.080017,566.900024,566.900024,11788500
2412,29-01-2020,575.690002,589.799988,567.429993,580.989990,580.989990,17801500
2413,30-01-2020,632.419983,650.880005,618.000000,640.809998,640.809998,29005700
2414,31-01-2020,640.000000,653.000000,632.520020,650.570007,650.570007,15719300
2415,03-02-2020,673.690002,786.140015,673.520020,780.000000,780.000000,47065000

In [26]:
data.shape

(2416, 7)

In [28]:
data.isnull().sum()

Date         0
Open         1
High         0
Low          4
Close        1
Adj Close    1
Volume       0
dtype: int64

In [27]:
x = data[['Date','Open','High','Low','Close','Adj Close',]].values
x

array([['29-06-2010', 19.0, 25.0, 17.540001, 23.889999, 23.889999],
       ['30-06-2010', 25.790001, 30.42, 23.299999, 23.83, 23.83],
       ['01-07-2010', 25.0, 25.92, 20.27, 21.959999, 21.959999],
       ...,
       ['30-01-2020', 632.419983, 650.880005, 618.0, 640.809998,
        640.809998],
       ['31-01-2020', 640.0, 653.0, 632.52002, 650.570007, 650.570007],
       ['03-02-2020', 673.690002, 786.140015, 673.52002, 780.0, 780.0]],
      dtype=object)

In [11]:
y = data[['Volume']].values
y

array([[18766300],
       [17187100],
       [ 8218800],
       ...,
       [29005700],
       [15719300],
       [47065000]], dtype=int64)

In [12]:
from sklearn.impute import SimpleImputer

In [13]:
imputer=SimpleImputer(missing_values=np.nan,strategy='mean')
imputer=imputer.fit(x[:,1:3])

In [14]:
x[:,1:3]=imputer.transform(x[:,1:3])
x

array([['29-06-2010', 19.0, 25.0, 17.540001, 23.889999, 23.889999],
       ['30-06-2010', 25.790001, 30.42, 23.299999, 23.83, 23.83],
       ['01-07-2010', 25.0, 25.92, 20.27, 21.959999, 21.959999],
       ...,
       ['30-01-2020', 632.419983, 650.880005, 618.0, 640.809998,
        640.809998],
       ['31-01-2020', 640.0, 653.0, 632.52002, 650.570007, 650.570007],
       ['03-02-2020', 673.690002, 786.140015, 673.52002, 780.0, 780.0]],
      dtype=object)

In [15]:
from sklearn.preprocessing import LabelEncoder

In [16]:
label_encode_x=LabelEncoder()
label_encode_y=LabelEncoder()

In [17]:
x[:,0]=label_encode_x.fit_transform(x[:,0])
x

array([[2246, 19.0, 25.0, 17.540001, 23.889999, 23.889999],
       [2319, 25.790001, 30.42, 23.299999, 23.83, 23.83],
       [33, 25.0, 25.92, 20.27, 21.959999, 21.959999],
       ...,
       [2301, 632.419983, 650.880005, 618.0, 640.809998, 640.809998],
       [2374, 640.0, 653.0, 632.52002, 650.570007, 650.570007],
       [166, 673.690002, 786.140015, 673.52002, 780.0, 780.0]],
      dtype=object)

In [18]:
y=label_encode_y.fit_transform(y)
y

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2321, 2298, 1918, ..., 2379, 2283, 2390], dtype=int64)

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=1)

In [21]:
print(x_train)
print(x_test)
print(y_train)
print(y_test)

[[42 135.0 136.520004 132.630005 135.550003 135.550003]
 [1312 217.809998 219.990005 214.5 215.470001 215.470001]
 [569 260.5 260.820007 248.020004 250.070007 250.070007]
 ...
 [292 240.490005 242.350006 236.529999 238.929993 238.929993]
 [185 29.950001 31.5 29.5 30.129999 30.129999]
 [1252 255.149994 262.459991 252.419998 260.73999 260.73999]]
[[756 29.309999 29.940001 29.309999 29.940001 29.940001]
 [1446 241.389999 241.550003 233.509995 235.839996 235.839996]
 [928 364.48999 368.76001 360.399994 362.75 362.75]
 ...
 [1365 172.419998 172.949997 164.770004 166.770004 166.770004]
 [907 222.949997 223.380005 209.0 209.259995 209.259995]
 [2339 229.149994 232.440002 224.210007 225.610001 225.610001]]
[1379  820 1794 ...  955 1583 1929]
[ 166 1320 1535  229 1916 2265 1246 1020 1861 2356 1951   92 1611  224
 1287 1622  129  389 2341  269 1762 1464  378  133 1841 1971  791  141
 1960   87   70 1313 2208  825 1132 2347  818 1931 1458  346  889 1520
 2202  424 1696  450  394  608  989  604 1792  833 2014  639 1698  784
  607  598  878   84 1870 1100 1961  360 1738 1238  137 1895  529 1773
  850  272 2294 1172 1038 2340 1581 1551   67  870  781 1534 1510  555
  795 2361  436  214 1104 2306  823 2171 1758  630  413 1055 1899 2146
 1624 1347 1799  874  971  645 1664 1647 1714 1925  655  453 1232  826
 1913 2388 1442  427 2133 1565 1707 1497   30 2095  400  127 2251  420
 1057  845  282  641  881 2118  572 1597 1736  700  929   46  894  683
 2154  944  841    2 1511  442 1900 1564  221 1236  211  842  443  646
 1489  370 2218 1713  835 1503 1384 1283 1948 1717 1814 1024 1048 1153
 1912 2002 1068  554 1643  292  216  704  376 2011 1454  232 1618 1777
  134  837 1327  492  493 1328 2136 1669 2307 1905  954 2184 2030 1295
 2189  744 1197 2000 1359 1865  588  259 1080 1028  808 2227 2156 2242
 2374  736  488 2241 2312  123  382 2370 1990 1646 1864 2343  731 1052
 2231  385 1514 1523  927 1157  599 1447 1108 2390 2073 2104  399  159
  952  545  181 1891 1967 1161 1545 1512 1029 1609 1822 1060 1908 1962
 2203 1145  486 1176 1293  105 2259 1206 1947  411 1268 2344 1818 2165
  191  111 1027 2296 1659 2085  258 1580 1504 2230 2060 2166 1686  891
  459 2339 2181 2056 1979 2272 1318 2281   58 1976 1998  338 1282  525
  160  380 1064  765  247   93 1771 1370 2028   15 1449 1272 1968 1259
  958 1035  306 1094  246 1314 2101  535 1944  764 1543 1749  502  751
 1125  856 1636 2168  505  843 2308 2151 2358  682  557 1695 1691  196
  864  275  239  893  926 1127 2029 2126  638 2128 1007 2283 2032 1479
 1420 1830 1297  665 1923 1415 1014 1383  636  775 1219  495  709  690
 1612 1412  527 1569  534 1716 2234  317 2384 1574 1451 1089 1991 1165
  448 2003  466  652 1692 2159 2109 2366  562 2143 2214 1462  374 2379
 2185 1234 1996  518  564 2221 1754  844 1294  528  323 1770  233  254
  973  573 1752 2196 1755  556  661 1623  318  524   54 1397 2096  236
  291  914  350  899  794 2269 1471  809 1953 1957 1587  543  307  987
 1106 1233  593 2083 2235  942  737 1836 2142 2353 2093 2183 2019  515
  298  575 1214  188   78  365  711  688  743  686 1544 1724 1416 1322
  153 2387 1715  629   13  423 1196  482  352 1339  917 1876 2298  212
 2383  957 2357 1031  560 1264  923  834   65  148  483 1261 1922  526
 1316  446 1073  925 1230   52 1212 1169 1654 1403 1356  268 1863 1090
 2186  416 1938  679 1067 1697 2157  755  667 1181 1896 2089 2195 1487
 1163 1413 1598  240 1674 2108 1884 2245  410 2105  283  340  479 1336
  568  710 1249 1726 1556 1406   95 1087 1890 1419  335  853 1676  349
  255 1446 1881 1871 1840  209  546 2232 1102  869 1061  177 2190 1215
 1897  610  372  457 2260  832 1069  964 1460 2098  774  425  839 1854
  511  830 1198  901 2226 1136  933  967  642  735 1256  398  176 1466
  689 1617 2054 1429 1640 1508 1832 2258 2329  145 1346 2068 2201 1013
 2278 2033]

In [22]:
from sklearn.preprocessing import StandardScaler  #FEATURE SCALING

In [23]:
scaler=StandardScaler()
x_train=scaler.fit_transform(x_train)
x_test=scaler.fit_transform(x_test)
print(x_train)
print(x_test)

[[-1.67458618 -0.4315509  -0.4380733  -0.43315078 -0.42615642 -0.42615642]
 [ 0.14730613  0.27058034  0.25784586  0.27233301  0.25003848  0.25003848]
 [-0.9185726   0.63254128  0.59826014  0.561179    0.54278559  0.54278559]
 ...
 [-1.31594596  0.46288009  0.44426916  0.46216821  0.44853107  0.44853107]
 [-1.46944397 -1.32225115 -1.31366251 -1.32183469 -1.31810426 -1.31810426]
 [ 0.06123247  0.58717953  0.61193327  0.59909429  0.63306322  0.63306322]]
[[-0.63858959 -1.31084917 -1.30418732 -1.30270978 -1.29972254 -1.29953559]
 [ 0.34924923  0.44467516  0.40802656  0.41631202  0.39183938  0.39186989]
 [-0.39234571  1.46365398  1.43732922  1.48451319  1.43446266  1.43439676]
 ...
 [ 0.23328555 -0.12623448 -0.14704117 -0.16236352 -0.17560196 -0.17551897]
 [-0.42241037  0.29203525  0.26100646  0.20997893  0.1734726   0.17352331]
 [ 1.6277131   0.34335666  0.33431421  0.33802171  0.30779532  0.30783361]]